.navBar {
   
   background-color: #ffffff;
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
   
}

.autocompleteContainer {
    display: flex;
    z-index: 1000;    
    background-color: red;
}

.autocompleteInput {
    border-radius: 8px;
    background-color: blue;
}

.autocomplete-dropdown-container {
    position: absolute;
}

.tutorialLink{
    width: 140px;
}
@media (min-width: 551px) {
    .navBar_search {
        align-items:baseline;
        display: flex;
        flex-direction: row;
        z-index: 1000;
        width: 25%;
    
        div {
            width: 500px;
            position: relative;
            display: flex;
            flex-direction: column;
           
            // margin-right: .5em;
        }
    }
}

.info-icon{
    margin-left: 5px;
    padding: 2px;
    width: 22px;
    height: 22px;
    border-radius: 3px;
    background-color: rgb(16, 150, 128);
    font-weight: bold;
    opacity: 0.75;
}

@media (max-width: 550px) {
    .navBar_search {
        display: flex;
        flex-direction: row;
        z-index: 99999999;
        width: 90%;
        height: 50px;
        align-items: center;
    
        div {
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            margin-right: .5em;
            z-index: 99999999;
        }
    }
}



.logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fluid_image_logoContainer {
    width: 30px;
    height: 100%;
}

.fluid_image_logo {
    width: 100%;
    height: 100%;
}

.logoLinkText {
    color: rgb(0, 0, 0);
    font-weight: bold;
    stroke: black;
    stroke-width: 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

.logoSublinkText{
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    font-weight:lighter;
}
 
// style={{ flex: 1, display : 'flex', alignItems: 'center', justifyContent: 'center', width: '25%'}}

.go_button {
    background-color: rgb(16, 150, 128);
    font-weight: bold;
    font-size: 12px;
    margin-top: .1em;
}


.user_tools {

    display: flex;
    align-items: center;
    z-index: 9999;  
   
}

.user_tools a {
        color: black;
    // margin-right: 8px;
        //  margin-right: 10px;
        height: auto;
       
      
}
.busButton{
//    background-color: rgba(69, 202, 177, 0.516);
    margin-right: 15px;
    white-space: nowrap;
    display: flex;
        align-items: center;
}
.busButton:hover{
    text-decoration: underline;
}
.resButton{
    display: flex;
    align-items: center;
   
    margin-right: 15px;
    white-space: nowrap;
}

// .dropDownIconContainer {
// }

#mobileDropdown {
    border-radius: 0;
    background-color: transparent;
    border-color: transparent;
}

.diffUserButtons{
    display: flex;
    
}

.siteListingButton{
    // display: flex;
    // display: inline-block;
    //     clear: both;
    //     overflow: hidden;
    // ,
    margin-right: 8px;
        white-space: nowrap;
    

}

.nav-link {
    padding: 0rem 0rem;
}

.dropdown-toggle {
    white-space: inherit;
}
.diffUsers{
    margin-right: 8px;
    align-items: center;
    text-align: center;
}

.historyLink{
    margin-right: 15px;
    white-space: nowrap;
}
.missionLink{
    margin-right: 15px;
    white-space: nowrap;
}
